body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
  line-height: 1.5em;
}
.CodeMirror {
  border: none;
  /*background: #e6e4eb;*/
}
.CodeMirror-scroll {
  /*padding: 10px;*/
}
.CodeMirror + .CodeMirror {
  /* todo show debugging in a sensible way */
  display: none;
}
.page {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.panel {
  flex: 1;
  max-width: 49%;
  height: 100%;
  /*padding: 10px;*/
}
.panel-editor {
  background: #200020;
  /*border: 10px solid #fff;
  box-sizing: border-box;*/

  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav {
  flex: 0 1 auto;
  width: 100%;
  background: #2f1c2f;
}

#editor {
  height: 100%;
  flex: 1;
  width: 100%;
  overflow: auto;
}

.editor-wrapper {
  flex: 1;
  overflow: auto;
}

.nav ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
}
.nav li {
  color: #888888;
  display: inline-block;
  margin:  5px;
}
.nav li a {
  border: none;
  transition: color 0.8s ease;
  color: #6f95e2;
}
.nav li a:hover {
  color: #7bc14d;
}

/* don't flash the code before klipse finishing running */
pre#editor-contents {
  display: none;
}

code {
  background: #eee;
  color: #3b197f;
}

.hidden {
  display: none;
}

#app-demo-list {
  margin-top: 30px;
  max-width: 500px;
}

.modal {
    position: absolute;
    display: none;
    z-index: 100;
    border: 1px solid grey;
    left: 25%;
    right: 25%;
    top: 20%;
    bottom: 20%;
    background-color: white;
    padding: 50px;
    overflow: hidden;
}

.modal-overlay {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background-color: black;
    opacity: 0.5;
}

.modal-content {
    height: 100%;
    overflow-y: auto;
}

.close-button {
    background-color: transparent;
    font-size: 26px;
    position: relative;
    float: right;
    border: none;
    cursor: pointer;
    right: -30px;
    top: -30px;
}
